#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  #image
  {
    height: 175px;
    width: auto;
    margin-left: 140px;
    float: center;
  }
  
  .signup-container {
    display: flex;
    max-width: 900px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  #divimage 
  {
      width: 340px;
      height: 537px;
  }
  
  
  .right-container {
    flex: 2;
    padding: 2rem;
  }
  
  header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    
  }
  
  .set {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  
  label {
    margin-left: 30px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  
  input {
    margin-left: 30px;
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .error {
    color: #ff0000;
    font-size: 12px;
    margin-top: 4px;
  }
  
  footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }
  
  #back {
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #dobh
  {
    margin-left: 0px;
  
    margin-right: 50px;
  }
  #dob
  {
    margin-left: 0px;
  }
  
  #back:hover {
    background-color: #333;
    color: #fff;
  }
  
  #submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #submit:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 768px) {
    .signup-container {
      flex-direction: column;
      align-items: center;
    }
  
    /* .left-container {
      flex: 1;
      text-align: center;
      background-color:rgb(71, 12, 181);
      order: 2;
      width: 50%;
    } */

    /* .right-container {
      flex: 2;
      padding: 2rem;
      order: 1;
      width: 100%;
    } */
   }